@charset "utf-8";
/* reset start */
body,h1,h2,h3,h4,h5,h6,dl,dd,ul,ol,form,input,textarea,th,td,select{margin:0;padding:0;font-size:0.375rem;}
p{margin:0;padding:0;}
body,html{-webkit-text-size-adjust:none;min-width:320px;max-width:750px;margin:0 auto;background:#fff;color:#333;font-family:PingFangSC-Regular,"Microsoft YaHei",STXihei,"Helvetica Neue", Helvetica,Arial,sans-serif;height:100%;position:relative;}
html,a{-webkit-tap-highlight-color:rgba(255,255,255,0);}
ul,ol{list-style:none;}
em,i,address{font-style:normal;}
b{font-weight:normal;}
a{text-decoration:none;blr:expression(this.onFocus=this.blur());background:transparent;-webkit-tap-highlight-color:transparent;color:#666;}
a:active,a:hover,button,select{outline:none;}
img{border:none;vertical-align:middle;display:block;}
table{border-collapse:collapse;border-spacing:0;}
input{outline:none;vertical-align:middle;}
textarea{resize:none;outline:none;vertical-align:top;overflow:auto;-webkit-overflow-scrolling:touch;}
button,html input[type="button"], html input[type="reset"],html input[type="submit"]{-webkit-appearance:button;}
html input[type="text"],html input[type="password"],html input[type="tel"],html input[type="search"]{-webkit-appearance:none;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button{height:auto;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
textarea:focus,input:focus{-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-user-modify:read-write-plaintext-only;border-color:#9494e8;}
html input:-webkit-autofill, html textarea:-webkit-autofill, html select:-webkit-autofill{background:#fff;color:#333;}
header,nav,article,aside,footer,address,dialog,figure,menu{display:block;}
section{display:flex;}
/* public start*/
.clearfix:after{content:"";display:block;clear:both;visibility:hidden;}
.fl{float:left;}
.fr{float:right;}
.main{width:10rem;height:100%;margin-left:auto;margin-right:auto;position:relative;display:flex;flex-direction:column;overflow:hidden;}
.myClass{background-color:#f7f7f7;}
.mStyle_0{background-color:#eddec1;}
.mStyle_1{background-color:#dfdeda;}
.mStyle_2{background-color:#f0e5dd;}
.mStyle_3{background-color:#cedfd4;}
.mStyle_4{background-color:#c7d8e1;}
.mStyle_5{background-color:#000a15;}
.mStyle_5 .mAticle{color:#2f606e;}
.mStyle_5 .mAticleMsg a{color:#333;}
.mNight{background-color:#000a15;}
.mNight .mAticle{color:#2f606e;}
/* module start*/
.mContent_w{width:10rem;padding-bottom:1.4rem;margin-left:auto;margin-right:auto;display:flex;flex-direction:column;overflow:hidden;}
.mContent_N{padding-bottom:0;}
.main img{width:100%;}
.mModule,.mModuleb{width:10rem;padding:0.266667rem 0;margin-left:auto;margin-right:auto;border-top:0.4rem solid #f7f7f7;display:flex;flex-direction:column;overflow:hidden;box-sizing:border-box;}
.mModule_N{border-top:0 none;}
.mModuleTi{width:100%;height:0.72rem;line-height:0.72rem;font-size:0.426667rem;font-weight:normal;color:#262b33;padding:0 0.4rem;display:flex;justify-content:space-between;overflow:hidden;box-sizing:border-box;}
.mModuleTi a{color:#bababa;font-size:0.32rem;}
.mModuleNull{width:10rem;height:1.2rem;line-height:1.2rem;font-size:0.426667rem;font-weight:normal;color:#bababa;text-align:center;overflow:hidden;}
.mModuleList{width:10rem;padding-top:0.16rem;display:flex;flex-wrap:wrap;justify-content:center;overflow:hidden;box-sizing:border-box;}
.mModuleList li{width:3.146666rem;padding-top:0.266667rem;display:flex;flex-direction:column;overflow:hidden;}
.mModuleList a,.mModuleList div{color:#242424;display:flex;flex-direction:column;overflow:hidden;}
.mModuleList a:active,.mModuleList div:active,.mModuleTi a:active,.mModuleaR_Ti a:active{color:#42c079;}
.mModuleList span{width:2.613333rem;margin:0 auto;border-radius:0.1rem;display:block;overflow:hidden;-webkit-box-shadow:0 2px 4px 0 rgba(178,178,178,0.50);box-shadow:0 2px 4px 0 rgba(178,178,178,0.50);}
.mModuleList p{width:2.613333rem;height:1.333333rem;line-height:0.586667rem;font-size:0.426667rem;margin:0.16rem auto 0;display:flex;overflow:hidden;box-sizing:border-box;}
.mModuleLista{width:10rem;display:flex;flex-direction:column;overflow:hidden;box-sizing:border-box;}
.mModuleLista li{width:10rem;padding:0.4rem;border-bottom:1px solid #f1f1f1;position:relative;display:flex;justify-content:space-between;overflow:hidden;box-sizing:border-box;}
.mModuleLista li:last-child{border-bottom:0 none;padding-bottom:0.133333rem;}
.mModuleLista_1 li:last-child{border-bottom:0 none;padding-bottom:0.4rem;}
.mModuleaL{width:2.613333rem;border-radius:0.1rem;display:inline-table;overflow:hidden;-webkit-box-shadow:0 2px 4px 0 rgba(178,178,178,0.50);box-shadow:0 2px 4px 0 rgba(178,178,178,0.50);}
.mModuleaR{width:6.066667rem;display:flex;flex-direction:column;overflow:hidden;}
.mModuleaR_Ti{width:100%;max-height:1.066666rem;line-height:0.533333rem;font-size:0.426667rem;padding-top:0.093333rem;color:#242424;display:flex;overflow:hidden;}
.mModuleaR_Ti a{color:#242424;}
.mModuleaR_Te{width:100%;max-height:1.6rem;line-height:0.533333rem;font-size:0.373333rem;color:#a7a7a7;margin-top:0.093333rem;display:flex;overflow:hidden;}
.mModuleaR_Author{width:auto;line-height:0.533333rem;font-size:0.373333rem;white-space:nowrap;color:#a7a7a7;position:absolute;bottom:0.4rem;left:3.533333rem;display:block;overflow:hidden;}
.mModuleaR_Tab{width:auto;line-height:0.426667rem;font-size:0.32rem;position:absolute;bottom:0.4rem;right:0.4rem;display:flex;overflow:hidden;}
.mModuleaR_Tab a{width:auto;padding:0 0.2rem;color:#d8d8d8;border:1px solid #d8d8d8;border-radius:0.05rem;margin-right:0.2rem;float:left;display:block;overflow:hidden;}
.mModuleaR_Tab a:active{color:#42c079;border-color:#42c079;}
.mModuleaR_Tab a:last-child{margin-right:0;}
.mModuleaR_Read{width:auto;height:0.426667rem;line-height:0.426667rem;font-size:0.32rem;padding:0 0.133333rem;color:#ffcacf;border:1px solid #ffcacf;border-radius:0.05rem;margin-left:0.2rem;position:absolute;bottom:0.4rem;right:0.4rem;display:block;overflow:hidden;}
.mModuleb{padding:0;}
.mSideNavBj{width:10rem;height:100%;position:fixed;top:0;left:50%;margin-left:-5rem;background-color:rgba(0,0,0,0.6);display:block;overflow:hidden;cursor:pointer;-webkit-animation:mOpacity 0.8s ease-in-out forwards;animation:mOpacity 0.8s ease-in-out forwards;z-index:3;}
.mSideNav{width:8.666667rem;height:100%;position:fixed;top:0;border-top:1.066667rem solid #f0f0f0;background-color:#fff;display:block;overflow:hidden;box-sizing:border-box;z-index:3;}
.mSideNav_Ti{width:100%;height:1.36rem;line-height:1.36rem;color:#a7a7a7;padding:0 0.466667rem;border-bottom:1px solid #f1f1f1;display:block;overflow:hidden;box-sizing:border-box;}
.mSideNav_List{width:100%;height:100%;padding:1.36rem 0.333333rem 0;position:relative;display:block;overflow-x:hidden;overflow-y:auto;box-sizing:border-box;}
.mSideNav_List a,.mSideNav_List div{width:100%;height:1.133333rem;line-height:1.133333rem;font-size:0.426667rem;color:#262b33;border-bottom:1px solid #f1f1f1;padding-left:0.066667rem;display:flex;justify-content:space-between;overflow:hidden;box-sizing:border-box;cursor:pointer;}
.mSideNav_List a:active.mSideNav_List div:active,.mSideNav_List div.hov{color:#42c079;}
.mSideNav_List span{color:#a7a7a7;}
.mSideNav_List div.mSideNav_Ti{height:1.36rem;line-height:1.36rem;color:#a7a7a7;padding:0 0.466667rem;background-color:#fff;border-bottom:1px solid #f1f1f1;position:fixed;top:0;left:0;cursor:default;}
.mLoad{width:100%;padding:1rem 0;display:flex;justify-content:center;overflow:hidden;box-sizing:border-box;}
.mLoad img{width:1rem;height:1rem;}
.mLoadArticle{width:1rem;height:1rem;position:fixed;top:50%;left:50%;margin-top:-0.5rem;margin-left:-0.5rem;overflow:hidden;}
@-webkit-keyframes mOpacity{
0%{opacity:0;}
100%{opacity:1;}
}
@keyframes mOpacity{
0%{opacity:0;}
100%{opacity:1;}
}